9-11 first flow.json
[{"id":"deb0d57.1c46528","type":"tab","label":"Completion Form","disabled":false,"info":""},{"id":"d8cb782d.0466e8","type":"tab","label":"Planning Form","disabled":false,"info":""},{"id":"55ea7ab3.e50c44","type":"tab","label":"Display","disabled":false,"info":""},{"id":"f1c9e33f.83a1a","type":"http in","z":"deb0d57.1c46528","name":"","url":"/complete","method":"get","upload":false,"swaggerDoc":"","x":200,"y":300,"wires":[["3469ed2e.02ada2"]]},{"id":"91869291.e573f","type":"http in","z":"deb0d57.1c46528","name":"","url":"/completepost","method":"post","upload":false,"swaggerDoc":"","x":200,"y":540,"wires":[["247ca710.202598","7d97682b.1d6ae8"]]},{"id":"3469ed2e.02ada2","type":"function","z":"deb0d57.1c46528","name":"msg.url = \"completemaintenancepost\";","func":"msg.url = \"completepost\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["ba3ccda7.680fc"]]},{"id":"247ca710.202598","type":"debug","z":"deb0d57.1c46528","name":"mysitepost","active":false,"console":"false","complete":"payload","x":830,"y":540,"wires":[]},{"id":"42a5f8e0.9d3ea8","type":"http response","z":"deb0d57.1c46528","name":"","x":870,"y":460,"wires":[]},{"id":"e670bd65.a42a8","type":"template","z":"deb0d57.1c46528","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    height: 50px;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n\n\n\nselect {\n    font-size: 40px;\n}","x":590,"y":400,"wires":[["b06f831e.648a4"]]},{"id":"bcb4b032.f3c94","type":"template","z":"deb0d57.1c46528","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":430,"y":400,"wires":[["e670bd65.a42a8"]]},{"id":"cbcee262.9880e","type":"http response","z":"deb0d57.1c46528","name":"","x":870,"y":400,"wires":[]},{"id":"b06f831e.648a4","type":"template","z":"deb0d57.1c46528","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Maintenance Complete</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n    \n\n<body>\n   \n    <div>\n        <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n            <label for=\"selection\">Select Planned Maintenance</label>\n            <select type=\"submit\" id=\"dontmatter\" name=\"selection\">\n\n\n{{#cloudant.rows}}\n\n<option>{{doc.maintenancestartdate}},  {{doc.maintenancestarttime}}, {{doc.equipment}},\n{{doc.equipmentlocation}}, {{doc.authorizedservicer}}\n\n</option>\n\n{{/cloudant.rows}}\n\n\n             </script>\n            </select>\n            <input type=\"submit\" value=\"Submit\">\n        </form>\n    </div>\n\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>\n\n  \n\n","x":730,"y":400,"wires":[["cbcee262.9880e"]]},{"id":"2b35f66b.ff5e4a","type":"comment","z":"deb0d57.1c46528","name":"Login Form","info":"","x":390,"y":360,"wires":[]},{"id":"7401eee.e1f461","type":"function","z":"deb0d57.1c46528","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["42a5f8e0.9d3ea8"]]},{"id":"5fe2fec7.22556","type":"comment","z":"deb0d57.1c46528","name":"Inject msg object properties","info":"","x":380,"y":240,"wires":[]},{"id":"7d97682b.1d6ae8","type":"json","z":"deb0d57.1c46528","name":"","x":410,"y":460,"wires":[["7401eee.e1f461"]]},{"id":"a488feee.73da8","type":"comment","z":"deb0d57.1c46528","name":"Website","info":"","x":170,"y":220,"wires":[]},{"id":"95ff5f23.0c464","type":"comment","z":"deb0d57.1c46528","name":"Form Submission","info":"","x":200,"y":440,"wires":[]},{"id":"9aa85757.76d3f8","type":"comment","z":"deb0d57.1c46528","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":460,"y":40,"wires":[]},{"id":"ba3ccda7.680fc","type":"cloudant in","z":"deb0d57.1c46528","name":"","cloudant":"","database":"plan","service":"ICon-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":690,"y":100,"wires":[["c5ac2a18.f60128","bcb4b032.f3c94"]]},{"id":"83e58b45.966a08","type":"http in","z":"d8cb782d.0466e8","name":"","url":"/plan","method":"get","upload":false,"swaggerDoc":"","x":199,"y":200,"wires":[["49b7d0de.32994"]]},{"id":"4056ae6f.48f87","type":"http in","z":"d8cb782d.0466e8","name":"","url":"/planpost","method":"post","upload":false,"swaggerDoc":"","x":189,"y":440,"wires":[["7d80eae8.93f694","50e85218.3d541c"]]},{"id":"49b7d0de.32994","type":"function","z":"d8cb782d.0466e8","name":"msg.url = \"planmaintenancepost\";","func":"msg.url = \"planpost\";\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":100,"wires":[["8961c3e2.28282"]]},{"id":"7d80eae8.93f694","type":"debug","z":"d8cb782d.0466e8","name":"mysitepost","active":true,"console":"false","complete":"payload","x":839,"y":440,"wires":[]},{"id":"c1bb051.e96aff8","type":"http response","z":"d8cb782d.0466e8","name":"","statusCode":"","headers":{},"x":879,"y":360,"wires":[]},{"id":"aad0cd4c.b49de","type":"template","z":"d8cb782d.0466e8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    height: 50px;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":599,"y":300,"wires":[["3ac91b.e20666e6"]]},{"id":"8961c3e2.28282","type":"template","z":"d8cb782d.0466e8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":439,"y":300,"wires":[["aad0cd4c.b49de"]]},{"id":"771fa71.acc5a58","type":"http response","z":"d8cb782d.0466e8","name":"","x":879,"y":300,"wires":[]},{"id":"3ac91b.e20666e6","type":"template","z":"d8cb782d.0466e8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Maintenance Plan</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n    \n<!--Taken from http://jqueryui.com/datepicker/ head portion-->    \n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n    <link rel=\"stylesheet\" href=\"//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css\">\n    <link rel=\"stylesheet\" href=\"/resources/demos/style.css\">\n    <script src=\"https://code.jquery.com/jquery-1.12.4.js\"></script>\n    <script src=\"https://code.jquery.com/ui/1.12.1/jquery-ui.js\"></script>\n    <script>\n    $( function() {\n        $( \"#datepicker\" ).datepicker();\n    } );\n    </script>\n    \n  </head>\n  \n\n    <h2>Maintenance Plan</h2>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"ds\">Maintenance Start Date</label>\n    <!--Taken from http://jqueryui.com/datepicker/ body portion-->    \n    <input type=\"text\" id=\"datepicker\" name=\"maintenancestartdate\">\n\n    <label for=\"ts\">Maintenance Start Time</label>\n    <input type=\"text\" id=\"dontmatter\" name=\"maintenancestarttime\">\n\n    <label for=\"equipment\">Equipment</label>\n    <select type=\"submit\" id=\"dontmatter\" name=\"equipment\">\n      <option value=\"mixer\">Mixer</option>\n      <option value=\"other\">Other</option>\n    </select>\n    \n    <label for=\"equipmentlocation\">Equipment Location</label>\n    <select type=\"submit\" id=\"dontmatter\" name=\"equipmentlocation\">\n      <option value=\"batchplant\">Batch Plant</option>\n      <option value=\"other\">Other</option>\n    </select>\n    \n    <label for=\"authserv\">Authorized Servicer</label>\n    <input type=\"text\" id=\"dontmatter\" name=\"authorizedservicer\">\n    \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":739,"y":300,"wires":[["771fa71.acc5a58"]]},{"id":"d15d663d.a87908","type":"comment","z":"d8cb782d.0466e8","name":"Login Form","info":"","x":399,"y":260,"wires":[]},{"id":"42cd56d6.4620f8","type":"function","z":"d8cb782d.0466e8","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":360,"wires":[["c1bb051.e96aff8"]]},{"id":"92b0f5d4.62c838","type":"comment","z":"d8cb782d.0466e8","name":"Inject msg object properties","info":"","x":389,"y":140,"wires":[]},{"id":"50e85218.3d541c","type":"json","z":"d8cb782d.0466e8","name":"","x":419,"y":360,"wires":[["42cd56d6.4620f8","b9b39d9f.60bc"]]},{"id":"237242d1.b417ae","type":"comment","z":"d8cb782d.0466e8","name":"Website","info":"","x":179,"y":120,"wires":[]},{"id":"cd9aa9f8.ee7a68","type":"comment","z":"d8cb782d.0466e8","name":"Form Submission","info":"","x":209,"y":340,"wires":[]},{"id":"4e6e0c.599f41f4","type":"comment","z":"d8cb782d.0466e8","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":509,"y":20,"wires":[]},{"id":"b9b39d9f.60bc","type":"cloudant out","z":"d8cb782d.0466e8","name":"","cloudant":"","database":"plan","service":"ICon-cloudantNoSQLDB","payonly":true,"operation":"insert","x":666,"y":554,"wires":[]},{"id":"c5ac2a18.f60128","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"true","x":970,"y":100,"wires":[]},{"id":"1b8dd680.7898aa","type":"function","z":"deb0d57.1c46528","name":"","func":"ReqResMsg = {};\nDatabaseMsg = {};\n\nReqResMsg.req = msg.req;\nReqResMsg.res = msg.res;\n\nDatabaseMsg.cloudant = msg.cloudant;\n\nreturn [ReqResMsg , DatabaseMsg];","outputs":"2","noerr":0,"x":1150,"y":80,"wires":[[],[]]},{"id":"bb584a3e.26f1d8","type":"http in","z":"55ea7ab3.e50c44","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":311,"y":123,"wires":[["f4d7dcd4.f29aa"]]},{"id":"da8776d4.67d098","type":"template","z":"55ea7ab3.e50c44","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"\n .image { \n    position: absolute; \n    left: 75px;\n    height:938px;\n    width: 728px;\n    \n}\n\n.t1 { \n    position: absolute; \n    top: 620px; \n    left: 60px; \n    width: auto;     \n    font-size: 40px;\n    background-color: cadetblue;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n.t2 { \n    position: absolute; \n    top: 620px; \n    left: 375px; \n    font-size: 40px;\n    width: auto;     \n    background-color: cadetblue;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n.linkplan { \n    position: absolute; \n    bottom: 110px; \n    left: 300px;\n    width: auto;     \n    background-color: aqua;\n    border: 3px solid #000000;\n    border-radius: 10px;\n    font-size: 40px;\n    text-align: justify;\n    padding: 10px;\n    color: black;\n}\n\n\n.linkcomplete { \n    position: absolute; \n    bottom: 20px; \n    left: 190px;\n    width: auto;     \n    background-color: aqua;\n    border: 3px solid #000000;\n    border-radius: 10px;\n    font-size: 40px;\n    text-align: justify;\n    padding: 10px;\n    color: black;\n}\n\n.lockinfo {\n    position: absolute; \n    top: 10px; \n    left: 415px;\n    font-size: 40px;\n    width: auto; \n    background-color: #F5F5F5;\n    border: 3px solid #000000;\n    border-radius: 10px;\n    font-size: 15px;\n    text-align: justify;\n    padding: 10px;\n    color: black;\n\n}\n\n.s1 { \n    position: absolute; \n    top: 155px; \n    left: 335px; \n    width: 30px; \n    height: 30px;  \n    background-color: red;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n.s2 { \n    position: absolute; \n    top: 115px; \n    left: 335px; \n    width: 30px; \n    height: 30px;  \n    background-color: red;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n.s3 { \n    position: absolute; \n    top: 75px; \n    left: 335px; \n    width: 30px; \n    height: 30px;  \n    background-color: red;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n.s4 { \n    position: absolute; \n    top: 35px; \n    left: 335px; \n    width: 30px; \n    height: 30px;  \n    background-color: red;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n.gate { \n    position: absolute; \n    top: 268px; \n    left: 385px; \n    width: 140px; \n    height: 20px;  \n    background-color: red;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n.door { \n    position: absolute; \n    top: 540px; \n    left: 750px; \n    width: 20px; \n    height: 160px;  \n    background-color: red;\n    border: 3px solid #000000;\n    border-radius: 10px;\n}\n\n","x":911,"y":123,"wires":[["560f50ec.eb0c3"]]},{"id":"b942a528.08fab8","type":"http response","z":"55ea7ab3.e50c44","name":"","statusCode":"","headers":{},"x":1079,"y":293,"wires":[]},{"id":"560f50ec.eb0c3","type":"template","z":"55ea7ab3.e50c44","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<style>{{{payload.style}}}</style>\n\n<META HTTP-EQUIV=\"refresh\" CONTENT=\"20\">\n</head>\n<body>\n\n<div class=\"image\">\n<img class=\"image\"  src=\"https://s20.postimg.org/cg3h4q1al/all_go.png\"/>'\n\n\n<p class = \"gate\"></p>\n<p class = \"door\"></p>\n<script>\n\nif ~({{payload.di1}})\n{\ndocument.write(\"<p class = \"s1\"></p>\")\n}\n\nif ~(!{{payload.di1}})\n{\ndocument.write(\"<p class = \"s2\"></p>\")\n}\n\n\nif ~({{payload.di3}})\n{\ndocument.write(\"<p class = \"s3\"></p>\")\n}\n\n\nif ~({{payload.di3}})\n{\ndocument.write(\"<p class = \"s4\"></p>\")\n}\n\n</script>\n\n<p class=\"lockinfo\">{{payload.lock}}</p>\n<p class=\"t2\">{{payload.temp2}}</p>\n<p class=\"t1\">{{payload.temp1}}</p>\n\n</div>\n<div>\n    <a class=\"linkplan\" href=\"https://icon.mybluemix.net/plan\">Plan Maintenance</a>\n\n    <a class=\"linkcomplete\" href=\"https://icon.mybluemix.net/complete\">Report Completed Maintenance</a>\n</div>\n\n\t\n\n</body>\n</html>","x":911,"y":243,"wires":[["b942a528.08fab8"]]},{"id":"ea640c4b.0155a","type":"ibmiot in","z":"55ea7ab3.e50c44","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"7e77ef72.b51bf","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":271,"y":183,"wires":[["5a2b738c.dc059c","a4f2a8f8.765158"]]},{"id":"5a2b738c.dc059c","type":"function","z":"55ea7ab3.e50c44","name":"global var set","func":"flow.set(\"realTimeData\",msg.payload.d);\nflow.set(\"lockData\",msg.payload.lock);\nreturn msg;","outputs":1,"noerr":0,"x":501,"y":203,"wires":[[]]},{"id":"f4d7dcd4.f29aa","type":"function","z":"55ea7ab3.e50c44","name":"global var get","func":"nmsg = {};\nnmsg.payload = flow.get(\"realTimeData\");\n//nmsg.payload.lock = flow.get(\"lockData\");\nnmsg.req = msg.req;\nnmsg.res = msg.res;\nreturn nmsg;","outputs":1,"noerr":0,"x":629,"y":122,"wires":[["da8776d4.67d098"]]},{"id":"a45bab19.146c08","type":"e-mail in","z":"55ea7ab3.e50c44","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Delete","repeat":"20","x":254,"y":496,"wires":[["3e18925a.e5fafe"]]},{"id":"3e18925a.e5fafe","type":"function","z":"55ea7ab3.e50c44","name":"","func":"msg.payload = {};\nmsg.payload.lock = msg.date;\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":299,"wires":[["5a2b738c.dc059c"]]},{"id":"e65308a3.7a7378","type":"cloudant out","z":"deb0d57.1c46528","name":"","cloudant":"","database":"plan","service":"ICon-cloudantNoSQLDB","payonly":true,"operation":"insert","x":855,"y":223,"wires":[]},{"id":"a4f2a8f8.765158","type":"debug","z":"55ea7ab3.e50c44","name":"","active":true,"console":"false","complete":"false","x":544,"y":52,"wires":[]}]